<div class="col-md-4">
    <form ng-submit="getHostilePlanets()">
        <button type="submit" class="btn btn-default">Get hostile planets</button>
    </form>
</div>
<div class="col-md-4">
    <table class="table table-hover">
        <tr ng-repeat="item in planets" ng-click="setTarget(item)">
            <td>{{item.name}}</td>
        </tr>
    </table>
</div>
<div class="col-md-4">
    <label>{{target.name}}</label>
    <form ng-submit="obliterate(target)">
        <button type="submit" class="btn btn-default">Obliterate</button>
    </form>
    <h1>{{oblitiration}}</h1>
</div>
